@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;700&display=swap');

:root {
	--background: #060606;
	--text-color-primary: #FFF5C8;
	--text-color-hover: #ED768A;
	--background-alt: #0A0A0A;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Schibsted Grotesk', sans-serif !important;
	background: var(--background);
}

div.media {
	font-size: 64px;
	margin: auto;
	top: 90%;
	position: absolute;
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--text-color-primary);
    font-style: none;
    text-decoration: none;    
}

div.media > a {
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

a:hover {
    color: var(--text-color-hover);
    font-style: none;
    cursor: pointer;
    text-decoration: none;
    transform-style: preserve-3d;
    transition-delay: .1s;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);    
}

/* Navigation */
nav {
	z-index: 1000;
	font-weight: 800;
	font-size: 30px;
	color: var(--text-color-primary);
	display: block;
	position: absolute;
	width: 100%;
	overflow: hidden;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.75);
}

nav ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	table-layout:fixed;
}

nav ul li {
	display: table-cell;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	overflow-x: hidden;
}

/* Section */
div.section {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.skulls {
	background-repeat: no-repeat;
	background-image: url("../images/hero-min.png");
	background-color: rgb(0,0,0);
	background-position: center;
	background-attachment: fixed;
	background-size: auto 100%;
}

/* About  */

#about {
	height: auto !important;
}

div.bio {
	font-size: 18px;
	padding: 2%;
	color: var(--text-color-primary);
	height: 20%;
	background-repeat: no-repeat;
	background-size: 30%;
}

div.left {
	background-position: left top;
	text-align: left justify-all;
	padding-right: 10%;
}

div.right {
	background-position: right top;
	text-align: right justify-all;
	padding-left: 10%;
}

#band {
	background-color:var(--background);
	background-image: url("../images/band.png");
}

#guitarlead {
	background-color:var(--background-alt);
	background-position: right top;
	background-image: url("../images/leadguitar.png");	
}

#drums {
	background-color:var(--background);
	background-image: url("../images/drums.png");
}

#bass {
	background-color:var(--background-alt);
	background-position: right center;
	background-image: url("../images/bass.png");
}

#rhythmguitar {
	background-color:var(--background);
	background-position: left top;
	background-image: url("../images/rhythmguitar.png");
}

#vocals {
	background-color:var(--background-alt);
	background-position: right center;
	background-image: url("../images/vocals.png");	
}

div#latest-video {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

div.poster-container {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

img#gig {
	width: 400px;
	box-shadow: 0 2px 5px #000;
}

b {
	padding-top: 16px;
	display: block;
	margin: auto;
	width: 100%;
	font-size: 32px;
	text-align: center;
}

@media only screen and (max-width: 900px) {
	div.media {
		width: 75%;
		left:calc(25% / 2);
	}

	div.bio {
		text-shadow: 0 2px 5px rgba(0, 0, 0, 1.0);
		font-size: 18px;
		padding: 2%;
		color: var(--text-color-primary);
		height: 20%;
		background-repeat: no-repeat;
		background-size: 100%;
	}

	nav {
		font-size: 15px;
	}
}

@media only screen and (min-width: 900px) {
	div.media {
		width: 25%;
		left:calc(75% / 2);
	}

	div.left {
		padding: 2% 20% 2% 40%;
	}

	div.right {
		padding: 2% 40% 2% 20%;
	}
}