@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root {
	--background: #060606;
	--text-color-primary: #FFF5C8;
	--text-color-hover: #ED768A;
	--background-alt: #0A0A0A;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Aboreto', sans-serif !important;
	background: var(--background);
}

div.media {
	font-size: 64px;
	margin: auto;
	top: 90%;
	position: absolute;
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--text-color-primary);
    font-style: none;
    text-decoration: none;    
}

div.media > a {
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

a:hover {
    color: var(--text-color-hover);
    font-style: none;
    cursor: pointer;
    text-decoration: none;
    transform-style: preserve-3d;
    transition-delay: .1s;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);    
}

/* Navigation */
nav {
	z-index: 1000;
	font-weight: 800;
	font-size: 30px;
	color: var(--text-color-primary);
	display: block;
	position: absolute;
	width: 100%;
	overflow: hidden;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.75);
}

nav ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	table-layout:fixed;
}

nav ul li {
	display: table-cell;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	overflow-x: hidden;
}

nav#nav_mobile {
	padding-top: 8px;
}

/* Section */
div.section {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100%;	
}

.skulls {
	background-repeat: no-repeat;
	background-image: url("../images/hero-min.png");
	background-color: rgb(0,0,0);
	background-position: center;
	background-attachment: fixed;
	background-size: auto 100%;
}

.band {
	background-repeat: no-repeat;
	background-image: url("../images/band.png");
	background-color: rgb(0,0,0,1);
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
}

/* Videos  */

div.section#videos{
	height: 100%;
}

div#latest-video {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

/* Gigs  */

div#gigs {
	text-align: center;
	display: flex;
 	justify-content: center;
	align-items: center;	
}

div.poster-container {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

img#gig {
	width: 400px;
	box-shadow: 0 2px 5px #000;
}

a#gig-cta {
	font-weight: 900;
	font-size: 24px;
}

/* About */

h4 {
	color: var(--text-color-hover);
}

h2, h4 {
	margin: 0px;
}

div#dna-story {
	display: block;
	color: var(--text-color-primary);
	text-align: justify;
	padding-top: 10%;
	padding-left: 36px;
	padding-right: 25%;
	font-size: 18px;
	font-weight: 900;
	line-height: 1.5;	
  	height: 100%;
  	vertical-align: middle;
  	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
  	overflow-y: hidden;
  	backdrop-filter: blur(2px);
}

i.member-credentials {
	font-size: 12px;
}

@media only screen and (max-width: 900px) {
	div.media {
		width: 75%;
		left:calc(25% / 2);
	}

	div.bio {
		text-shadow: 0 2px 5px rgba(0, 0, 0, 1.0);
		font-size: 18px;
		padding: 2%;
		color: var(--text-color-primary);
		height: 20%;
		background-repeat: no-repeat;
		background-size: 100%;
	}

	nav#nav_default {
		display: none !important;
	}

	nav#nav_mobile {
		display: block !important;
	}

	#player {
		width: 460px;
		height: 315px;
	}

	div#dna-story {
		padding: 72px 36px 0px 36px;
	}

	h2, h4 {
		text-align: center;
	}

	div#dna-story {
		background-size: 100% auto;
	}

	.band {
		background-size: auto 100%;
	}
}

@media only screen and (min-width: 900px) {
	div.media {
		width: 25%;
		left:calc(75% / 2);
	}

	div.left {
		padding: 2% 20% 2% 40%;
	}

	div.right {
		padding: 2% 40% 2% 20%;
	}

	nav#nav_default {
		display: block !important;
	}

	nav#nav_mobile {
		display: none !important;
	}	

	#player {
		width: 560px;
		height: 315px;
	}

	.band {
		background-size: 100% auto;
	}	
}